<a href="https://colab.research.google.com/github/RmdhnLmg1180/Belajar-github/blob/main/Laporan_4_Struktur_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Buatlah sebuah kelas untuk membuat singly linked list yang terdiri dari 2 metode:
- menambahkan data diakhir
- menampilkan data dari singly linked list secara iterasi

In [ ]:
#tulis jawaban disini

In [ ]:
list1 = SLinkedList()

list1.append_item('Indonesia')
list1.append_item('Amerika Serikat')
list1.append_item('Arab Saudi')
list1.append_item('China')
list1.append_item('Malaysia')

for val in list1.iterate_item():
    print(val)

print("\nhead.data: ",list1.head.data)
print("tail.data: ",list1.tail.data)

Indonesia
Amerika Serikat
Arab Saudi
China
Malaysia

head.data:  Indonesia
tail.data:  Malaysia

# 2. Lengkapi program no 1 dengan tambahan untuk mencari size dari singly linked list

In [ ]:
#tulis jawaban disini

In [ ]:
list1 = SLinkedList()

list1.append_item('Indonesia')
list1.append_item('Amerika Serikat')
list1.append_item('Arab Saudi')
list1.append_item('China')
list1.append_item('Malaysia')

for val in list1.iterate_item():
    print(val)

print("\nSize of the list:",list1.count)

Indonesia
Amerika Serikat
Arab Saudi
China
Malaysia

Size of the list: 5

# 3. Lengkapi program no 1 dengan tambahan untuk menghapus data dari singly linked list

In [ ]:
#tulis jawaban disini

In [ ]:
list1 = SLinkedList()

list1.append_item('Indonesia')
list1.append_item('Amerika Serikat')
list1.append_item('Arab Saudi')
list1.append_item('China')
list1.append_item('Malaysia')

for val in list1.iterate_item():
    print(val)

print("\nAfter removing the last item from the list:")
list1.delete_item('China')
for val in list1.iterate_item():
    print(val)

Indonesia
Amerika Serikat
Arab Saudi
China
Malaysia

After removing the last item from the list:
Indonesia
Amerika Serikat
Arab Saudi
Malaysia

# 4. Buatlah sebuah method yang ada pada class linked list yang digunakan untuk menjumlahkan 2 buah linked list

In [ ]:
#tulis jawaban disini

In [ ]:
list1 = SLinkedList()
list2 = SLinkedList()

In [ ]:
list1.push(1)
list1.push(2)
list1.push(3)
list1.push(4)
list1.push(5)
print("List1 is ",end=' ')
list1.printList()

List1 is  5 4 3 2 1

In [ ]:
list2.push(1)
list2.push(2)
print ("List2 is",end=' ')
list2.printList()

List2 is 2 1

In [ ]:
sumlist = SLinkedList()
sumlist.addTwoLists(list1.head, list2.head)
print ("Resultant list is",end=' ')
sumlist.printList()

Resultant list is 7 5 3 2 1